body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-layout {
  height: 100vh;
  overflow: hidden;
}

.ant-layout-content {
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-layout-header {
  line-height: 40px;
}

#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 40px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 36px;
  background: rgba(255, 255, 255, 0.2);
  
}

.site-layout .site-layout-background {
  background: #fff;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
*::-webkit-scrollbar {
  /*滚动条整体样式*/
  width : 8px;  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
  }
 *::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius   : 3px;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
  );
  }
 *::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  background   : #ededed;
  border-radius: 3px;
  }


.fade-enter {
  opacity: 0;
  transform: translateX(100%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
}

.fade-exit {
  opacity: 1;
  transform: translateX(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 500ms;
}


.pageContent {
  /* border: 1px solid red; */
}



/*   FORM 浮动 */



.ant-advanced-search-form .ant-form-item {
  display: flex;
  margin-bottom: 8px;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}


.ant-table.ant-table-small tfoot > tr > th, .ant-table.ant-table-small tfoot > tr > td{padding:0px !important;}
.tmsui_form{
  margin-bottom:8px;
  padding: 8px 16px 0px;
  background:rgba(0,0,0,0.05);
  border-radius: 2px;

}




.header-layout{
  display:flex;
  justify-content: space-around;
}
.header-bar,.header-nav,.header-toggle{

}

.header-bar{
  padding-right:16px;
}
.header-nav{
  padding-top:8px;
  flex-grow: 1; 
}
